<li class="nav-item start ">
    <a href="{% url 'main:index' %}" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">Inicio</span>

    </a>
</li>

<li class="nav-item start ">
    <a href="{% url 'proveedores:lista_productos_all' %}" class="nav-link nav-toggle">
        <i class="icon-tag"></i>
        <span class="title">Productos</span>
    </a>
</li>

<li class="nav-item start ">
    <a href="{% url 'servicios:lista_personas' %}" class="nav-link nav-toggle">
        <i class="icon-user"></i>
        <span class="title">Trabajadores</span>
    </a>
</li>

<li class="nav-item start ">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-user"></i>
        <span class="title">Pedidos</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item start ">
            <a href="{% url 'ventas:todos_los_pedidos_cliente' %}" class="nav-link ">
                <i class="icon-eye"></i>
                <span class="title">Todos los pedidos</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{% url 'ventas:pedidos_enviados_cliente' %}" class="nav-link ">
                <i class="icon-clock"></i>
                <span class="title">Pedidos enviados</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{% url 'ventas:pedidos_recibidos_cliente' %}" class="nav-link ">
                <i class="icon-check"></i>
                <span class="title">Pedidos Recibidos</span>
            </a>
        </li>
    </ul>
</li>


<li class="nav-item start ">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-diamond"></i>
        <span class="title">Servicios</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item start ">
            <a href="{% url 'ventas:pedidos_servicio_cliente' %}" class="nav-link ">
                <i class="icon-eye"></i>
                <span class="title">Ver todos los servicios</span>
            </a>
        </li>
    </ul>
</li>
