<li class="nav-item start ">
    <a href="{% url 'main:index' %}" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">Inicio</span>

    </a>
</li>

<li class="nav-item start ">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-diamond"></i>
        <span class="title">Servicios</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item start ">
            <a href="{% url 'ventas:pedidos_servicio_persona' %}" class="nav-link ">
                <i class="icon-eye"></i>
                <span class="title">Ver todos los servicios</span>
            </a>
        </li>
    </ul>
</li>
