<li class="nav-item start ">
    <a href="{% url 'main:index' %}" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">Inicio</span>

    </a>
</li>

<li class="nav-item start ">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-social-dropbox"></i>
        <span class="title">Productos</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item start ">
            <a href="{% url 'proveedores:lista_productos' %}" class="nav-link ">
                <i class="icon-eye"></i>
                <span class="title">Ver Productos</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{% url 'proveedores:crear_producto' %}" class="nav-link ">
                <i class="icon-plus"></i>
                <span class="title">Crear Productos</span>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item start ">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-user"></i>
        <span class="title">Pedidos</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item start ">
            <a href="{% url 'ventas:todos_los_pedidos' %}" class="nav-link ">
                <i class="icon-eye"></i>
                <span class="title">Todos los pedidos</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{% url 'ventas:pedidos_enviados' %}" class="nav-link ">
                <i class="icon-clock"></i>
                <span class="title">Pedidos enviados</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{% url 'ventas:pedidos_recibidos' %}" class="nav-link ">
                <i class="icon-check"></i>
                <span class="title">Pedidos Completados</span>
            </a>
        </li>
    </ul>
</li>