{% extends 'base.html' %}
{% load widget_tweaks staticfiles humanize %}
{% block content_main %}

    <div id="content_">
        <div class="dom">
            <div class="container-fluid">
                <div class="row profile">
                    <div class="col-md-3">
                        <div class="profile-sidebar">
                            <!-- SIDEBAR USERPIC -->
                            <div align="center">
                                <a data-toggle="modal" href="#contrato" class="btn yellow-crusta btn-md">
                                    contratar <i class="fa fa-user"></i>
                                </a>
                                <img src="{{ object.foto }}"
                                     class="img-responsive" alt="">
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    {{ object.get_full_name }}
                                </div>
                                <div class="profile-usertitle-job">
                                    <strong>{{ object.tipo }}</strong>
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            <div class="profile-userbuttons">
                                direccion: <strong>{{ object.direccion }}</strong>
                                <br>
                                telefono: <strong>{{ object.telefono }}</strong>
                                <br>
                                calificacion: <strong>{{ object.calificacion }} <i class="fa fa-star" style="color: #ffc82e"></i></strong>
                                <br>
                                valor hora: <strong> ${{ object.valor_hora|intcomma }}</strong>
                            </div>
                            <!-- END SIDEBAR BUTTONS -->
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="#">
                                            <i class="fa fa-user"></i>
                                            Perfil
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END MENU -->
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="profile-content">
                            <table class="table table-striped table-hover table-bordered">
                                <tr>
                                    <td class="text-right">
                                        Nombre completo
                                    </td>
                                    <td class="text-center">
                                        {{ object.get_full_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Estado Civil
                                    </td>
                                    <td class="text-center">
                                        {{ object.estado_civil }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Servicio que presta
                                    </td>
                                    <td class="text-center">
                                        {{ object.servicio }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Profesion
                                    </td>
                                    <td class="text-center">
                                        {{ object.profesion }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Sexo
                                    </td>
                                    <td class="text-center">
                                        {{ object.sexo }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Nivel Academico
                                    </td>
                                    <td class="text-center">
                                        {{ object.nivel_academico }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Estudios Adicionales
                                    </td>
                                    <td class="text-center">
                                        {{ object.estudios_adicionales }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Años de Experiencia laboral
                                    </td>
                                    <td class="text-center">
                                        {{ object.experiencia_laboral }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                       Empresa Anterior
                                    </td>
                                    <td class="text-center">
                                        {{ object.nombre_empresa_anterior }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Cargo Empresa Anterior
                                    </td>
                                    <td class="text-center">
                                        {{ object.cargo_empresa_anterior }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Periodo Inicial (Empresa Anterior)
                                    </td>
                                    <td class="text-center">
                                        {{ object.periodo_inicial_empresa_anterior }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Periodo Final (Empresa Anterior)
                                    </td>
                                    <td class="text-center">
                                        {{ object.periodo_final_empresa_anterior }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Funciones (Empresa Anterior)
                                    </td>
                                    <td class="text-center">
                                        {{ object.funciones_empresa_anterior }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Calificacion en la plataforma
                                    </td>
                                    <td class="text-center">
                                        {{ object.calificacion }} <i class="fa fa-star" style="color: #ffc82e"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        Valor Hora
                                    </td>
                                    <td class="text-center">
                                        ${{ object.valor_hora|intcomma }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
<div class="modal fade" id="contrato" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" align="center">Por favor, complete los campos</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="number" id="horas" placeholder="numero de horas" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="time" id="hora" placeholder="hora del servicio" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="date" id="fecha" placeholder="fecha del servicio" class="form-control" required>
                        </div>
                        <div class="form-group">
                             <textarea id="nota" class="form-control" cols="30" rows="10" placeholder="Agrege una nota (opcional)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="enviar">
                    Solicitar servicio <i class="fa fa-send"></i>
                </button>
            </div>
        </div>
    </div>
</div>




{% endblock %}

{% block scripts_js %}
    <script>
        window.persona = {{ object.id }};
        window.cliente = {{ user.cliente.id }};
        window.valor_hora = {{ object.valor_hora }};
    </script>
    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'js/backbone.js' %}"></script>
    <script src="{% static 'js/backbone/servicios/viewsDetail.js' %}"></script>
    <script src="{% static 'js/backbone/app.js' %}"></script>


{% endblock %}