{% extends 'base.html' %}
{% load humanize staticfiles widget_tweaks %}
{% block content_main %}
    <h3 class="page-title">
        Bienvenido a <strong>Construcosta</strong>
    </h3>

    <div class="row page-bar">
        <div class="col-md-12 text-center">
            <br>
            <h3> filtrar profesionales por</h3>
        </div>
        {% for field in form %}
            <div class="col-md-6">
                <div class="form-group">{% csrf_token %}
                    <label>{{ field.label }}</label>
                    {% render_field field class='form-control' %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="lista-personas">

        </div>
    </div>

{% endblock %}
{% block scripts_js %}

    <script type="text/template" id="personas_item">
       <div class="col-md-3">
            <div class="thumbnail">
                <img src="<%= foto %>" width="40%">
                <div class="caption">
                    <h4 class="text-center">
                        <%= get_full_name %> (@<%= username %>)
                    </h4>
                    <h4 class="text-center">
                        <%= profesion_nombre %> (<%= servicio_nombre %>)
                    </h4>

                    <div align="center">
                        <a class="btn blue btn-outline sbold" onclick="" href="<%= get_absolute_url %>">
                            Ver informacion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        window.profesion = -1;
        window.servicio = -1;
    </script>

    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'js/backbone.js' %}"></script>
    <script src="{% static 'js/backbone/servicios/models.js' %}"></script>
    <script src="{% static 'js/backbone/servicios/collections.js' %}"></script>
    <script src="{% static 'js/backbone/servicios/views.js' %}"></script>
    <script src="{% static 'js/backbone/app.js' %}"></script>

{% endblock %}