{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/template/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/template/bootstrap-switch.css' %}">
<link rel="stylesheet" href="{% static 'css/template/md-components.css' %}">
<link rel="stylesheet" href="{% static 'css/template/md-plugins.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-material-datetimepicker.css' %}">