{% extends "base.html" %}
{% block title %}
    {{ action }} {{ form.title }}
{% endblock %}

{% block css_extra %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block content_main %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">
                            {{ action }} {{ form.title }}
                        </span>
                    </div>
                    <div class="actions">

                    </div>
                </div>
                <div class="portlet-body">
                    {% if form.errors %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissable text-center">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true"></button>
                                    <strong>Error!</strong>
                                    {% if not form.non_field_errors %}
                                        por favor revise los campos marcados
                                    {% else %}
                                        {% for error in form.non_field_errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% include 'forms/estandar.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_js %}
    {% load staticfiles %}
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script>
    <script>
        $(document).ready(function () {

        });
    </script>

{% endblock %}

{% block js_header %}

{% endblock %}