{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bienvenido a construcosta</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap and Font Awesome css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700">
    <!-- Theme stylesheet-->
    <link rel="stylesheet" href="{% static 'assets_count/css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
      <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'assets_count/css/custom.css' %}">
    <!-- Favicon-->

  </head>
  <body>
    <div style="background-image: url('{% static 'assets_count/img/beach.jpg' %}')" class="main">
      <div class="overlay"></div>
      <div class="container">
        <p class="social">
            <a href="https://www.facebook.com/construcostabaq/" title="" class="facebook" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/Construcostabaq" title="" class="twitter" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/construcostabaq/" title="" class="instagram" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="{% url 'main:log_in' %}" title="" class="gplus">
                <i class="fa fa-sign-in"></i>
            </a>
        </p>
        <div class="row">
          <div class="col-sm-12">
            <h1 class="cursive">Construcosta</h1>
              <h3 class="sub">gran lanzamiento en:</h3>
          </div>
        </div>
        <!-- countdown-->
        <div id="countdown" class="countdown">
          <div class="row">
            <div class="countdown-item col-sm-3 col-xs-6">
              <div id="countdown-days" class="countdown-number">&nbsp;</div>
              <div class="countdown-label">dias</div>
            </div>
            <div class="countdown-item col-sm-3 col-xs-6">
              <div id="countdown-hours" class="countdown-number">&nbsp;</div>
              <div class="countdown-label">horas</div>
            </div>
            <div class="countdown-item col-sm-3 col-xs-6">
              <div id="countdown-minutes" class="countdown-number">&nbsp;</div>
              <div class="countdown-label">minutos</div>
            </div>
            <div class="countdown-item col-sm-3 col-xs-6">
              <div id="countdown-seconds" class="countdown-number">&nbsp;</div>
              <div class="countdown-label">segundos</div>
            </div>
          </div>
        </div>
        <!-- /.countdown-->
      </div>
    </div>
    <!-- JAVASCRIPT FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'assets_count/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'assets_count/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets_count/js/front.js' %}"></script>

  </body>
</html>