
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-edit font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">
                            disfruta de los accesos rapidos del area
                            <span class="font-blue-soft">
                                de clientes
                            </span>
                        </span>
                    </div>
                    <div class="actions">

                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                            <div class="dashboard-stat dashboard-stat green-jungle">
                                <div class="visual">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> Proveedores</div>
                                    <div class="desc"> lista de proveedores</div>
                                </div>
                                <a class="more" href="{% url 'proveedores:proveedores' %}">
                                    ver lista de proveedores
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                            <div class="dashboard-stat dashboard-stat blue-steel">
                                <div class="visual">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> Servicios</div>
                                    <div class="desc"> lista de servicios</div>
                                </div>
                                <a class="more" href="">
                                    ver lista de servicios
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                            <div class="dashboard-stat dashboard-stat blue-dark">
                                <div class="visual">
                                    <i class="fa fa-cubes"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> Productos</div>
                                    <div class="desc"> lista de productos</div>
                                </div>
                                <a class="more" href="{% url 'proveedores:lista_productos_all' %}"> ver lista de productos
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                            <div class="dashboard-stat dashboard-stat yellow-casablanca">
                                <div class="visual">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> Trabajadores</div>
                                    <div class="desc"> lista de trabajadores</div>
                                </div>
                                <a class="more" href="">
                                    ver lista de trabajadores
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>