{% extends 'base.html' %}

{% block title %}
    Bienvenido al inicio de
    {% if user.empresa %}
        comprador
    {% elif user.proveedor %}
        proveedor
    {% endif %}
    <strong>{{ user.get_full_name }} ({{ user.username }})</strong>
{% endblock %}


{% block content_main %}
    {% if user.cliente %}
        {% include 'apps/main/start_cliente.html' %}
    {% elif user.proveedor %}
        {% include 'apps/main/start_proveedor.html' %}
    {% elif user.persona %}
        {% include 'apps/main/start_persona.html' %}
    {% endif %}
{% endblock %}

{% block scripts_js %}
    {% load staticfiles %}
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
{% endblock %}