<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-edit font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">
                            Bienvenido al inicio de proveedor
                            <span class="font-blue-soft">
                                {{ user.get_full_name }} ({{ user.username }})
                            </span>
                    </span>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                        <a class="dashboard-stat dashboard-stat-v2 green-haze" href="#">
                            <div class="visual">
                                <i class="fa fa-cube"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                        <span data-counter="counterup" data-value="{{ user.proveedor.get_productos.count }}">
                                            {{ user.proveedor.get_productos.count }}
                                        </span>
                                </div>
                                <div class="desc">
                                    <strong>Productos</strong>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                        <a class="dashboard-stat dashboard-stat-v2 purple-intense" href="#">
                            <div class="visual">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                        <span data-counter="counterup" data-value="{{ user.proveedor.get_historial_pedidos.count }}">
                                            {{ user.proveedor.get_historial_pedidos.count }}
                                        </span>
                                </div>
                                <div class="desc">
                                    <strong>Todos los pedidos</strong>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                        <a class="dashboard-stat dashboard-stat-v2 blue-sharp" href="#">
                            <div class="visual">
                                <i class="fa fa-file-text-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                        <span data-counter="counterup" data-value="{{ user.proveedor.get_pedidos_enviados.count }}">
                                            {{ user.proveedor.get_pedidos_enviados.count }}
                                        </span>
                                </div>
                                <div class="desc">
                                    <strong>Pedidos enviados</strong>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                        <a class="dashboard-stat dashboard-stat-v2 red-pink" href="#">
                            <div class="visual">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                        <span data-counter="counterup" data-value=" {{ user.proveedor.get_pedidos_recibidos.count }}">
                                             {{ user.proveedor.get_pedidos_recibidos.count }}
                                        </span>
                                </div>
                                <div class="desc">
                                    <strong>Pedidos recibidos</strong>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-edit font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">
                            disfruta de los accesos rapidos
                        </span>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                        <div class="dashboard-stat dashboard-stat green-jungle">
                            <div class="visual">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="details">
                                <div class="number"> Productos</div>
                                <div class="desc"> lista de Productos</div>
                            </div>
                            <a class="more" href="">
                                ver lista de clientes
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                        <div class="dashboard-stat dashboard-stat blue-steel">
                            <div class="visual">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="details">
                                <div class="number"> Productos</div>
                                <div class="desc"> crear producto</div>
                            </div>
                            <a class="more" href="">
                                crear producto
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                        <div class="dashboard-stat dashboard-stat blue-dark">
                            <div class="visual">
                                <i class="fa fa-file-text-o"></i>
                            </div>
                            <div class="details">
                                <div class="number"> Pedidos</div>
                                <div class="desc"> todos los pedidos</div>
                            </div>
                            <a class="more" href=""> ver todos los pedidos
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
                        <div class="dashboard-stat dashboard-stat yellow-casablanca">
                            <div class="visual">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="details">
                                <div class="number"> Funcionarios</div>
                                <div class="desc"> lista de funcionarios</div>
                            </div>
                            <a class="more" href="">
                                ver lista de funcionarios
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>