
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-edit font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">
                            disfruta de los accesos rapidos del area
                            <span class="font-blue-soft">
                                de trabajadores
                            </span>
                        </span>
                    </div>
                    <div class="actions">

                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-bottom-10">
                            <div class="dashboard-stat dashboard-stat green-jungle">
                                <div class="visual">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> Servicios</div>
                                    <div class="desc"> lista de servicios</div>
                                </div>
                                <a class="more" href="{% url 'ventas:pedidos_servicio_persona' %}">
                                    ver mi lista de servicios
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>