{% extends 'base.html' %}

{% load i18n staticfiles humanize range %}

{% block title %}
    Pedido #{{ object.id }}
{% endblock %}


{% block content_main %}
    <div class="row">
        <div class="col-md-12" align="center">
            {% if user.cliente %}
                <a href="{% url 'ventas:pedidos_servicio_cliente' %}"
                   class="btn btn-lg green hidden-print margin-bottom-5">
                    Volver
                    <i class="fa fa-arrow-left"></i>
                </a>
            {% elif user.persona %}
                <a href="{% url 'ventas:pedidos_servicio_persona' %}" class="btn btn-lg green hidden-print margin-bottom-5">
                    Volver
                    <i class="fa fa-arrow-left"></i>
                </a>
            {% endif %}

            <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                Imprimir
                <i class="fa fa-print"></i>
            </a>
            {% if user.persona %}
                {% if not object.iniciado and not object.terminado %}
                    <a class="btn btn-lg green-jungle hidden-print margin-bottom-5"
                       href="{{ object.get_start_service_url }}">
                        Iniciar Servicio
                        <i class="fa fa-check"></i>
                    </a>
                {% elif object.iniciado %}
                    <a class="btn btn-lg red hidden-print margin-bottom-5" href="{{ object.get_stop_service_url }}">
                        Terminar Servicio
                        <i class="fa fa-close"></i>
                    </a>
                {% else %}
                    <a class="btn btn-lg green hidden-print margin-bottom-5">
                        Servicio Terminado
                        <i class="fa fa-check"></i>
                    </a>
                {% endif %}
            {% endif %}
            {% if user.cliente %}

                {% if object.iniciado %}
                    <a class="btn btn-lg green-jungle hidden-print margin-bottom-5">
                        Servicio Iniciado
                        <i class="fa fa-check"></i>
                    </a>
                {% elif object.terminado %}
                    <a class="btn btn-lg green hidden-print margin-bottom-5">
                        Servicio Terminado
                        <i class="fa fa-check"></i>
                    </a>
                {% elif not object.iniciado %}
                    <a class="btn btn-lg btn-warning hidden-print margin-bottom-5">
                        Servicio sin iniciar
                        <i class="fa fa-warning"></i>
                    </a>
                {% endif %}

            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-edit font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">
                            orden de servicio # {{ object.id }}
                        {% if object.calificacion == 0 and user.cliente and object.terminado %}
                            <a data-toggle="modal" class="btn btn-warning hidden-print margin-bottom-5"
                               href="#calificar">
                                    Calificar el servicio
                                    <i class="fa fa-star"></i>
                                </a>
                        {% elif user.persona or user.cliente and object.calificacion > 0 %}
                            calificacion
                            {% for foo in object.calificacion|get_range %}
                                <i class="fa fa-star yellow"></i>
                            {% endfor %}
                        {% endif %}
                        </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="invoice">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>Datos del Cliente</h4>
                            <ul class="list-unstyled">
                                <li>
                                    nombre:
                                    <strong>
                                        {{ object.cliente.get_full_name|upper }}
                                    </strong>
                                    <strong class="label label-info">
                                        {{ object.cliente.tipo }}
                                    </strong>
                                </li>
                                <li>
                                    direccion:
                                    <strong>
                                        {{ object.cliente.direccion }}
                                    </strong>
                                </li>
                                {% if object.cliente.nit %}
                                    <li>
                                        nit: <strong>{{ object.cliente.nit }}</strong>
                                    </li>
                                {% endif %}
                                {% if object.cliente.rut %}
                                    <li> rut: <strong>{{ object.cliente.rut }}</strong></li>
                                {% endif %}
                                <li>
                                    telefono: <strong>{{ object.cliente.telefono }}</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h4>Informacion del trabajador:</h4>
                            <ul class="list-unstyled">
                                <li>
                                    nombre:
                                    <strong>{{ object.persona.get_full_name }}</strong>
                                </li>
                                <li>
                                    Direccion:
                                    <strong>{{ object.persona.direccion }}</strong>
                                </li>
                                <li>
                                    Telefono:
                                    <strong>{{ object.persona.telefono }}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">fecha de elaboracion de la orden</th>
                                    <th class="text-center">fecha del servicio</th>
                                    <th class="text-center">hora del servicio</th>
                                    <th class="text-center">horas que dura el servicio</th>
                                    <th class="text-center">tarifa del trabajador</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td class="text-center">{{ object.fecha_solicitud }}</td>
                                    <td class="text-center">{{ object.fecha }}</td>
                                    <td class="text-center">${{ object.hora }}</td>
                                    <td class="text-center">{{ object.horas_servicio }}</td>
                                    <td class="text-center">${{ object.persona.valor_hora|intcomma }}</td>
                                </tr>

                                <tr>
                                    <td colspan="4" class="text-right">
                                        <strong>total</strong>
                                    </td>
                                    <td colspan="3" class="text-center">
                                        $<strong>{{ object.total|intcomma }}</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>
                        Nota {{ object.nota }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="calificar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" align="center">Por favor, califique el servicio</h4>
                </div>
                <div class="modal-body" align="center">
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <select  class="form-control" id="calificacion">
                                <option>seleccione una calificacion</option>
                                <option value="1">1 estrella</option>
                                <option value="2">2 estrellas</option>
                                <option value="3">3 estrellas</option>
                                <option value="4">4 estrellas</option>
                                <option value="5">5 estrellas</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" align="center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" id="enviar_rank">
                        Enviar Calificacion <i class="fa fa-send"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts_js %}
    <script>
        window.cliente = {{ object.cliente.id }};
        window.valor_hora = {{ object.persona.valor_hora }};
        window.servicio = {{ object.id }};
    </script>
    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'js/backbone.js' %}"></script>
    <script src="{% static 'js/backbone/servicios/viewsDetail.js' %}"></script>
    <script src="{% static 'js/backbone/app.js' %}"></script>
{% endblock %}
