{% extends 'base.html' %}

{% load i18n staticfiles humanize %}

{% block title %}
    Pedido #{{ object.id }}
{% endblock %}


{% block content_main %}
    <div class="row">
        <div class="col-md-12" align="center">
            {% if user.cliente %}
                <a href="{% url 'ventas:todos_los_pedidos_cliente' %}" class="btn btn-lg green hidden-print margin-bottom-5">
                    Volver
                    <i class="fa fa-arrow-left"></i>
                </a>
            {% elif user.proveedor %}
                <a href="{% url 'ventas:todos_los_pedidos' %}" class="btn btn-lg green hidden-print margin-bottom-5">
                    Volver
                    <i class="fa fa-arrow-left"></i>
                </a>
            {% endif %}

            <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                Imprimir
                <i class="fa fa-print"></i>
            </a>
            {% if user.proveedor %}
                {% if object.enviado %}
                    <a class="btn btn-lg purple-plum hidden-print margin-bottom-5">
                        Pedido Enviado
                        <i class="fa fa-check"></i>
                    </a>
                {% else %}
                    <a class="btn btn-lg green-jungle hidden-print margin-bottom-5" href="{{ object.set_to_enviado }}">
                        Marcar como enviado
                        <i class="fa fa-send"></i>
                    </a>
                {% endif %}
            {% endif %}
            {% if user.cliente and object.enviado %}
                {% if object.recibido %}
                    <a class="btn btn-lg purple-plum hidden-print margin-bottom-5">
                        Pedido Recibido
                        <i class="fa fa-check"></i>
                    </a>
                {% else %}
                    <a class="btn btn-lg green-jungle hidden-print margin-bottom-5" href="{{ object.set_to_recibido }}">
                        Marcar como recibido
                        <i class="fa fa-send"></i>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-edit font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">
                            pedido # {{ object.id }}, estado actual : {{ object.get_estado }}
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="invoice">
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Datos del Cliente</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        nombre:
                                        <strong>
                                            {{ object.cliente.get_full_name|upper }}
                                        </strong>
                                        <strong class="label label-info">
                                            {{ object.cliente.tipo }}
                                        </strong>
                                    </li>
                                    <li>
                                        direccion:
                                        <strong>
                                            {{ object.cliente.direccion }}
                                        </strong>
                                    </li>
                                    {% if object.cliente.nit %}
                                        <li>
                                            nit: <strong>{{ object.cliente.nit }}</strong>
                                        </li>
                                    {% endif %}
                                    {% if object.cliente.rut %}
                                        <li> rut: <strong>{{ object.cliente.rut }}</strong></li>
                                    {% endif %}
                                    <li>
                                        telefono: <strong>{{ object.cliente.telefono }}</strong>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6 text-right">
                                <h4>Informacion del proveedor:</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <strong>{{ object.proveedor }}</strong>
                                    </li>
                                    <li>
                                        Direccion: <br>
                                        <strong>{{ object.proveedor.direccion }}</strong>
                                    </li>
                                    <li>
                                        Telefono: <br>
                                        <strong>{{ object.proveedor.telefono }}</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Nombre del producto</th>
                                        <th class="text-center">Precio unitario</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for elemento in productos_pedido %}
                                        <tr>
                                            <td class="text-center">{{ elemento.producto }}</td>
                                            <td class="text-center">${{ elemento.producto.valor|intcomma }}</td>
                                            <td class="text-center">{{ elemento.cantidad }}</td>
                                            <td class="text-center">${{ elemento.valor|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3" class="text-right">
                                            <strong>total</strong>
                                        </td>
                                        <td colspan="3" class="text-center">
                                            $<strong>{{ object.get_total|intcomma }}</strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}