{% extends 'utils/list_base.html' %}

{% block title %}Lista de servicios solicitados{% endblock %}

{% block content_main_title %}Lista de servicios solicitados{% endblock %}

{% block content_main_top_bar %}
    <a href="{% url 'main:index' %}" class="btn blue">
        <i class="fa fa-arrow-left"></i> Regresar al inicio <i class="fa fa-home"></i>
    </a>
{% endblock %}
{% block content_main_list_title %}
    Lista de servicios solicitados
{% endblock %}
{% block content_main_table_data %}
    {% load humanize %}
    <tr class="">
        <td class="text-center">
            {% if user.persona %}
                {{ obj.cliente }}
            {% elif user.cliente %}
                <a href="{{ obj.proveedor.get_absolute_url }}">
                    {{ obj.persona.get_full_name }}
                </a>
            {% endif %}
        </td>
        <td class="text-center">{{ obj.hora }}</td>
        <td class="text-center">{{ obj.fecha }}</td>
        <td class="text-center">{{ obj.fecha_solicitud }}</td>
        <td class="text-center">${{ obj.total|intcomma }}</td>
        <td class="text-center">
            <div class="tr-action">
                <div class="tr-action-inner">
                        <a href="{{ obj.get_absolute_url }}" class="btn btn-info btn-xs"
                           data-toggle="tooltip" data-placement="top" title="Ver">
                            <i class="fa fa-eye"></i>
                        </a>
                </div>
            </div>
        </td>
    </tr>
{% endblock %}

{% block main-else-msg %}Todavía no tienes pedidos <strong>{{ filtro }}</strong>.{% endblock %}
