{% extends 'utils/list_base.html' %}

{% block title %}Lugares de servicio de {{ cliente.get_full_name }} {% endblock %}

{% block content_main_title %}Clientes{% endblock %}

{% block content_main_top_bar %}
    <a href="{{ cliente.get_url_dashboard_customer }}" class="btn blue">
        <i class="fa fa-arrow-left"></i> Regresar al tablero del cliente <i class="fa fa-users"></i>
    </a>
{% endblock %}
{% block content_main_list_title %}
    Lugares de servicio de <span class="font-blue">{{ cliente.get_full_name }}</span>
    {% if not user.funcionario.get_master_local_and_global %}
        en <span class="font-blue">{{ user.funcionario.sucursal.departamento }}</span>
    {% endif %}
{% endblock %}
{% block content_main_table_data %}
    <tr class="">
        <td class="text-center">{{ obj.codigo }}</td>
        <td class="text-center">{{ obj.nombre }}</td>
        <td class="text-center">{{ obj.departamento }} - {{ obj.ciudad }}</td>
        <td class="text-center">{{ obj.direccion }}</td>
        <td class="text-center">
            <div class="tr-action">
                <div class="tr-action-inner">

                    {% if user.funcionario.area == 'COMERCIAL' %}
                        <a href="{{ obj.get_update_url }}" class="btn btn-primary btn-xs"
                           data-toggle="tooltip" data-placement="top" title="Editar este Lugar">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="{{ obj.get_create_service_url }}" class="btn green-jungle btn-xs"
                           data-toggle="tooltip" data-placement="top" title="Crear Servicio">
                            <i class="fa fa-plus"></i>
                        </a>

                    {% endif %}

                </div>
            </div>
        </td>
    </tr>
{% endblock %}

{% block main-else-msg %}Todavía no existen lugares para este cliente.{% endblock %}
