<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>ConstruCosta | Registro</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    {% load staticfiles widget_tweaks %}
    {% include 'statics/css/base.html' %}
    <link rel="stylesheet" href="{% static 'css/template/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/template/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/template/login-5.min.css' %}">
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'statics/js/js.html' %}
<link href="{% static 'img/favicon.png' %}" rel="icon">

<body class=" login" id="app">

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
           <h1> Registarse como {{ form.title }}</h1>
        </div>
        <form method="post">{% csrf_token %}
            {% for field in form %}
                <div class="col-md-12">
                    <div class="form-group form-md-line-input {% if field.errors %} has-error {% elif field.value %} has-success {% endif %}">
                        <label class="col-md-3 control-label">
                            {{ field.label }}
                        </label>
                        <div class="col-md-12">
                            {% render_field field class="form-control" %}
                            <span class="help-block">
                            {{ field.help_text }}
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                        </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-12">
                <div align="center">
                    <br>
                    <a type="submit" id="lock" href="javascript: history.go(-1)" data-loading-text="Cancelando..."
                       class="btn btn-danger">
                        Cancelar <i class="fa fa-close"></i>
                    </a>
                    <button class="btn green" type="submit">
                        Guardar <i class="fa fa-save"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>