<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>ConstruCosta | Login</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    {% load staticfiles widget_tweaks %}
    {% include 'statics/css/base.html' %}
    <link rel="stylesheet" href="{% static 'css/template/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/template/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/template/login-5.min.css' %}">
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    {% include 'statics/js/js.html' %}

<body class=" login" id="app">

<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 bs-reset">
            {% load staticfiles %}
            <div class="login-bg"
                 style="background-image:url(http://www.cursosgratisde.com/wp-content/uploads/2016/06/construccion-sostenible.jpg)">
            </div>
        </div>
        <div class="col-md-6 login-container bs-reset" align="center">
            <img src="{% static 'img/logo.jpg' %}" alt="" width="45%">
            <div class="login-content" style="margin-top: -5%">
                <h1 class="text-center">ConstruCosta</h1>
                <h3 class="text-center">Bienvenidos</h3>
                <p class="text-center">
                    <strong style="color: #494949">
                        Area exclusiva
                    </strong>
                </p>
                <form class="login-form" method="post">{% csrf_token %}
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <strong>Error</strong>, {{ msj }}
                        </div>
                    {% endif %}
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>Escriba el nombre de usuario y la contraseña. </span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input class="form-control form-control-solid placeholder-no-fix form-group" type="text"
                                   autocomplete="off" placeholder="Usuario" name="username" required/></div>
                        <div class="col-xs-6">
                            <input class="form-control form-control-solid placeholder-no-fix form-group" type="password"
                                   autocomplete="off" placeholder="Clave" name="password" required/></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" align="center">
                            <button class="btn green btn-md" type="submit">
                                iniciar sesion <i class="fa fa-sign-in"></i>
                            </button>
                            <a data-toggle="modal" href="#registro" class="btn yellow-crusta btn-md">
                                Registrarse <i class="fa fa-user-plus"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-5 bs-reset">
                        <ul class="login-social">
                            <li>
                                <a href="https://www.facebook.com/construcostabaq/" target="_blank">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Construcostabaq" target="_blank">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/construcostabaq/" target="_blank">
                                    <i class="icon-social-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
                            <strong>Copyright &copy; ConstruCosta 2017</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" align="center">Que desea hacer en la plataforma?</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'main:crear_cliente' %}" class="btn green-jungle btn-lg btn-form" id="cliente">
                            quiero comprar <i class="fa fa-dollar"></i>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'main:crear_proveedor' %}" class="btn yellow-crusta btn-lg btn-form" id="proveedor">
                            quiero vender <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'main:crear_persona' %}" class="btn purple btn-lg btn-form" id="persona">
                            quiero trabajar <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



</body>
</html>