<li class="dropdown dropdown-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
       data-close-others="true">{% load staticfiles %}
        <img alt="" class="img-circle" src="{% static 'img/user.png' %}"/>
        <span class="username username-hide-on-mobile">
            {{ user.get_full_name }}

            {% if user.funcionario.area %}
                (Area {{ user.funcionario.area.capitalize }} - {{ user.funcionario.sucursal.departamento }} )
            {% elif user.is_superuser %}
                ({{ user.username }})
            {% endif %}
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a href="{% url 'salir' %}">
                <i class="icon-key"></i> Desconectarse
            </a>
        </li>
    </ul>
</li>