{% extends 'base.html' %}
{% load widget_tweaks staticfiles %}
{% block content_main %}

    <div id="content_">
        <div class="dom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-9">
                        <h4 class="text-center">aca puedes comprar productos, simplemente verlos</h4>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row profile">
                    <div class="col-md-3">
                        <div class="profile-sidebar">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <img src="{{ object.imagen }}"
                                     class="img-responsive" alt="">
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    {{ object.get_full_name }}
                                </div>
                                <div class="profile-usertitle-job">
                                    <strong>{{ object.tipo }}</strong>
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            <div class="profile-userbuttons">
                                direccion: <strong>{{ object.direccion }}</strong>
                                <br>
                                telefono: <strong>{{ object.telefono }}</strong>
                            </div>
                            <!-- END SIDEBAR BUTTONS -->
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart"></i>
                                            productos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END MENU -->
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="profile-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="id_nombre" maxlength="200"
                                               placeholder="escriba el nombre del producto" name="nombre" type="text"
                                               required="">
                                    </div>
                                </div>
                                <div class="col-md-6" align="center">
                                    <h1>
                                        total: $<strong id="total_ganancia">0</strong>
                                    </h1>
                                    <button class="btn btn-lg btn-success" id="finish">
                                        Guardar pedido
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="list-group lista-productos">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <div class="list-group productos_venta">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts_js %}
    <script type="text/template" id="productos_item">
        <a align="center" class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <img class="media-object producto-proveedor" src="<%= imagen %>" alt="Image">
                </div>
                <div class="media-body">
                    <h4 class="media-heading" id="name_<%= id %>"><%= nombre %></h4>
                    $<strong id="valor_<%= id %>"><%= valor %></strong>
                    <br>
                    categoria: <strong><%= categoria_nombre %></strong>
                    <br>
                    marca: <strong><%= marca_nombre %></strong>
                </div>
                <button class="btn btn-success btn-xs add" id="<%= id %>">
                    agregar <i class="fa fa-plus"></i>
                </button>
            </div>
        </a>
        <br>
    </script>

    <script type="text/template" id="productos_venta_item">
        <a align="center" class="list-group-item">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><%= nombre %></h4>
                    cantidad: <strong><%= cantidad %></strong>
                </div>
                <button class="btn btn-danger btn-xs delete" id="<%= producto_id %>">
                    eliminar <i class="fa fa-trash"></i>
                </button>
            </div>
        </a>
        <br>
    </script>

    <script type="text/template" id="menu_after_success">

        <div class="row" align="center">
            <div class="col-md-6 text-left">
                <h2>
                    {% if venta %}
                        Venta Exitosa
                    {% else %}
                        Pedido Exitoso
                    {% endif %}
                    <i class="fa fa-check green-text"></i>
                </h2>
            </div>
            <div class="col-md-6 text-right">
                <h2>
                    Total Pedido : $<strong id="ganancia" class="green-text"></strong>
                </h2>
            </div>
        </div>

    </script>

    <script type="text/javascript">
        window.proveedor = {{ object.id }};
        window.cliente = {{ user.cliente.id }};
    </script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'js/backbone.js' %}"></script>
    <script src="{% static 'js/backbone/proveedores/models.js' %}"></script>
    <script src="{% static 'js/backbone/proveedores/collections.js' %}"></script>
    <script src="{% static 'js/backbone/proveedores/ventaViews.js' %}"></script>
    <script src="{% static 'js/backbone/app.js' %}"></script>

{% endblock %}