{% extends 'base.html' %}
{% block content_main %}
    <h1>Lista de proveedores</h1>
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{ object.imagen }}" width="40%" id="imagen_<%= id %>">
                <div class="caption">
                    <h4 class="pull-left">
                        {{ object.get_full_name }}
                    </h4>
                    <h4 class="pull-right">
                        {{ object.tipo }}
                    </h4>

                    <div align="center">
                        <a class="btn blue btn-outline sbold" onclick="" href="{{ object.get_absolute_url }}">
                            Ver productos
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}