{% extends 'utils/list_base.html' %}

{% block title %}Tu lista de productos{% endblock %}

{% block content_main_title %}Tus Productos{% endblock %}

{% block content_main_top_bar %}
    <a href="{% url 'main:index' %}" class="btn blue">
        <i class="fa fa-arrow-left"></i> Regresar al inicio <i class="fa fa-home"></i>
    </a>
{% endblock %}
{% block content_main_list_title %}
    Lista de productos
{% endblock %}
{% block content_main_table_data %}
    {% load humanize %}
    <tr class="">
        <td class="text-center">{{ obj.nombre }}</td>
        <td class="text-center">{{ obj.categoria_producto }}</td>
        <td class="text-center">{{ obj.marca }}</td>
        <td class="text-center">${{ obj.valor|intcomma }}</td>
        <td class="text-center">
            <div class="tr-action">
                <div class="tr-action-inner">
                        <a href="{{ obj.get_update_url }}" class="btn btn-primary btn-xs"
                           data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="fa fa-pencil"></i>
                        </a>
                </div>
            </div>
        </td>
    </tr>
{% endblock %}

{% block main-else-msg %}Todavía no tienes productos creados.{% endblock %}
