{% extends 'base.html' %}
{% load humanize staticfiles widget_tweaks %}
{% block content_main %}
    <h3 class="page-title">
        Bienvenido a <strong>Construcosta</strong>
    </h3>

    <div class="row page-bar">
        <div class="col-md-12 text-center">
            <br>
            <h3> filtrar productos por</h3>
        </div>
        {% for field in form %}
            <div class="col-md-4">
                <div class="form-group">{% csrf_token %}
                    <label>{{ field.label }}</label>
                    {% render_field field class='form-control' %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="lista-productos">

        </div>
    </div>

{% endblock %}
{% block scripts_js %}

    <script type="text/template" id="productos_item">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="<%= imagen %>" width="100px" id="imagen_<%= id %>">
                <div class="caption">
                    <h4 class="pull-right">
                        $ <span id="precio__<%= id %>">
                                <%= valor %>
                                </span>
                    </h4>
                    <h4>
                        <a href="#" id="nombre_<%= id %>}">
                            <%= nombre %>
                        </a>
                    </h4>
                    <p id="categoria_{{ producto.id }}">
                        categoria: <strong><%= categoria_nombre %></strong>
                        <br>
                        marca: <strong><%= marca_nombre %></strong>
                    </p>
                    <br>
                    <div align="center">
                        <a class="btn blue btn-outline sbold" onclick="" href="<%= proveedor_url %>">
                            Ver proveedor
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        window.marca = -1;
        window.categoria = -1;
    </script>

    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'js/backbone.js' %}"></script>
    <script src="{% static 'js/backbone/proveedores/models.js' %}"></script>
    <script src="{% static 'js/backbone/proveedores/collections.js' %}"></script>
    <script src="{% static 'js/backbone/proveedores/views.js' %}"></script>
    <script src="{% static 'js/backbone/app.js' %}"></script>

{% endblock %}