{% load staticfiles %}
<script src="{% static 'js/vendors/02-bootstrap.js' %}"></script>
<script src="{% static 'js/template/js.cookie.js' %}"></script>
<script src="{% static 'js/template/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/template/jquery.blockUI.js' %}"></script>
<script src="{% static 'js/template/bootstrap-switch.js' %}"></script>
<script src="{% static 'js/template/bootstrap.js' %}"></script>
<script src="{% static 'js/template/app.js' %}"></script>
<script src="{% static 'js/template/layout.js' %}"></script>
<script src="{% static 'js/template/demo.js' %}"></script>
<script src="{% static 'js/template/quick-sidebar.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script>
